<section>
    <img src="<%= bookDetails.image_url %>">
    <%= bookDetails.title %>
        <%= bookDetails.author %>
            <%= bookDetails.isbn %>
                <%= bookDetails.description %>
</section>